html{
    font-family: "Noto Serif",serif;
    line-height: 1.6;
}
h1,h2,h3{
    font-family: "Playfair Display", serif;
    font-weight: 700;
}   
.red{
    color:red
}main {
    max-width: 620px;
    margin: auto;
}
section{
    margin-top: 2rem;
}
h2{
    margin-bottom: 0;
}