ul{
    padding:0;
    text-align: center;
}
li{
    display: inline-block;
    background-color: paleturquoise;
    padding: 0.8rem;
    margin: 0.5rem;
    width: 300px;
    text-align: left;
}
/* text align property is inherited from ancesters*/
.wrapper{
    max-width: 700px;
    margin-left: auto;
    margin-right:auto;
    background-color: #fff;
}
body{
    background-color: darkslateblue;
}
h1{
    margin-top: 0;
    padding: 1rem;
}