ul{
    list-style-type: none;
    padding: 0;
}
li{
    background-color: powderblue;
    margin-top: 1rem;
    padding: 1rem 0;
    border: 1px solid slateblue;
    width:23%;
    display: inline-block;
}
/*display: inline*/ 
/* inline elements line up horizontally */
main a{
    background-color: paleturquoise;
    width: 5rem; /*nothing happens because of the anchor tag is an inline element*/
    height: 3rem; /*nothing happens because of the anchor tag is an inline element*/
    margin: 2rem;
    border: 1px solid coral;
    padding: 2rem;
    /*display:block*/
    /* you can overwrite the default display property*/
}
/* display: inline-block*/
/* button */
button{

    width: 32%;
    margin: 0.5rem;
    padding: 1rem;
    margin: 0

}