html{
    font-family: sans-serif;
    line-height: 1.5;
}
h1 {
    font-size: 4rem;
    background-color: palegreen;
    box-sizing: border-box;
    border: 1em solid hotpink;
    padding: 2rem;
    margin: 0;
    padding: 2rem 1rem; /*2 hands: top right bottom left*/
    margin: 0 0 3rem 0; /*3 hands: top right bottom left*/
    margin-bottom: 5rem;
    padding-top: 2.5rem;
}
body{
    margin:0;
}
main{
    margin-left: 1%;
}
section{
    margin-top: 3rem;
}
p{
    padding-left: 2rem;
}

