@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

html{
    font-family: Bitter, serif;
}

h1,h2,h3{
    font-family: Merriweather, serif;
    font-weight: 700;
}
img{
    max-width: 100%;
    height: auto;
}
.articles{
    background-color: rgba(176,94,247,3);
}
aside{
    background-color: rgba(94, 206, 247, 3 );
}
footer{
    background-color: rgba(128, 0, 128, 0.2);
}
nav ul{
    padding:0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.main-wrapper{
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-columns: 200px 1fr;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
}
.articles{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
}
.first-article {
    grid-column: span2;
    grid-column: 1/4;
    grid-column: 1/-1;
}
aside{
    grid-column: 1/2;
    grid-row: 1/2;
}
footer ul{
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 1rem;
}